</main>
<footer>
    <section class="projects">
    {% if page.path contains '_posts' %}
        <h4>Latest Projects</h4>
        <ol>
            {% for post in site.posts limit:4 %}
                {% if post.categories contains 'project' %}
                <li>
                    <a href="{{ post.url }}">
                        <img src="{{ post.thumbnail }}">
                    </a>
                </li>
                {% endif %}
            {% endfor %}
        </ol>
    {% endif %}
        <h2>Hello, I’m Alex, web designer. I help the <a href="http://stackoverflow.com/users/{{ site.stackoverflow_username }}">stackoverflow</a> community, have a few projects on <a href="https://github.com/{{ site.github_username }}">github</a>, and once in a blue moon, <a href="http://twitter.com/{{ site.twitter_username }}">I tweet</a>. <a href="/resume">My resume</a>, and as always, <a href="mailto:&#x67;&#x69;&#x74;&#x75;&#x65;&#x72;&#x72;&#x65;&#x7A;&#x61;&#x6C;&#x65;&#x78;&#x40;&#x67;&#x6D;&#x61;&#x69;&#x6C;&#x2E;&#x63;&#x6F;&#x6D;">say hi</a>.</h2>
    </section>
</footer>
