body {
  font-family: $font-primary;
  font-size: $font-size-base;
  color: $clr-base;
  line-height: 1.4;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3;
}

figure {
  margin: 0;
}

figcaption {
  font-size: $font-size-sm;
  color: $clr-secondary-light;
  margin-top: .5rem;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

a {
  color: $clr-base;

  &:hover {
    text-decoration: none;
  }
}

p:last-child,
li:last-child {
  margin-bottom: 0;
}
