@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400&display=swap');

// Globals
.font {
 &-sm {
	 font-size: $font-size-sm;
 }
}

.m {
 &b {
	 &-0 {
		 margin-bottom: 0;
	 }

	 &-1 {
		 margin-bottom: 1rem;
	 }

	 &-2 {
		 margin-bottom: 2rem;
	 }

	 &-3 {
		 margin-bottom: 3rem;
	 }

	 &-4 {
		 @include media-query($on-tablet) {
			 margin-bottom: 4rem;
		 }

		 margin-bottom: 2rem;
	 }

	 &-5 {
		 @include media-query($on-tablet) {
			 margin-bottom: 5rem;
		 }

		 margin-bottom: 3rem;
	 }
 }

 &t {
	 &-0 {
		 margin-top: 0;
	 }

	 &-1 {
		 margin-top: 1rem;
	 }

	 &-2 {
		 margin-top: 2rem;
	 }

	 &-3 {
		 margin-top: 3rem;
	 }

	 &-4 {
		 @include media-query($on-tablet) {
			 margin-top: 4rem;
		 }

		 margin-top: 2rem;
	 }
 }
}

.p {
 &l-1 {
	 @include media-query($on-tablet) {
		 padding-left: 1rem;
	 }
 }
}

.d {
 &-block {
	 display: block;
 }

 &-inline-block {
	 display: inline-block;
 }

 &-flex {
	 display: flex;
 }

 &-grid {
	 @include media-query($on-tablet) {
		 display: grid;
	 }

	 &-2 {
		 grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	 }

	 &-3 {
		 grid-template-columns: repeat(3, 1fr);
	 }

	 &-12 {
		 grid-template-columns: 1fr 1.5fr;
	 }

	 &-21 {
		 grid-template-columns: 1.5fr 1fr;
	 }

	 &-screenshots {
		 grid-template-columns: 1fr minmax(100px, 260px) 20px;

		 > div:first-child {
			 grid-column: 1 / 3;
			 grid-row: 1;
		 }

		 > div:last-child {
			 grid-column: 2 / 4;
			 grid-row: 1;
		 }
	 }
 }
}

.flex {
 display: flex;

 &-1 {
	 flex: 1 0;
 }
}

.align-items {
 &-center {
	 align-items: center;
 }

 &-end {
	 align-items: end;
 }
}

.justify-content {
 &-center {
	 justify-content: center;
 }

 &-end {
	 justify-content: flex-end;
 }
}

.column {
 &-count {
	 &-2 {
		 column-count: 2;
	 }
 }
}

.font-size {
 &-sm {
	 font-size: $font-size-sm;
 }

 &-md {
	 font-size: $font-size-md;
 }

 &-lg {
	 font-size: $font-size-lg;
 }
}

.btn {
 display: inline-block;
 padding: .7rem 1.8rem;
 font-size: .86rem;
 text-transform: uppercase;
 text-decoration: none;
 border-radius: 1px;
 color: $clr-base;
 font-weight: 600;
 position: relative;
 border: 2px solid $clr-base;

 &:hover {
	 background-color: $clr-base;
	 color: $clr-primary;
 }
 /*
 &:before, &:after {
	 content: "";
	 position: absolute;
	 top: 0;
	 left: 0;
	 bottom: 0;
	 right: 0;
	 border: 2px solid $clr-base;
	 transition: transform 200ms ease-in;
 }

 &:before {
	 transform: translate(-4px, -4px)
 }

 &:after {
	 transform: translate(4px, 4px);
 }

 &:hover {
	 &:after {
		 transform: translate(-4px, -4px);
	 }
 }
 */
}

.list {
 &-unstyled {
	 padding-left: 0;

	 li {
		 list-style-type: none;
	 }
 }
}

.gap {
 &-1 {
	 gap: 1rem;
 }

 &-2 {
	 gap: 2rem;
 }
}

.text {
 &-uppercase {
	 text-transform: uppercase;
 }

 &-underline-none {
	 text-decoration: none;
 }

 &-secondary {
	 color: $clr-secondary;
 }

 &-sm {
	 font-size: $font-size-sm;
 }

 &-center {
	 text-align: center;
 }
}

.border {
 border-width: 1px;
 border-style: solid;

 &-light {
	 border-color: $clr-light;
 }
}

.container {
 max-width: 950px;
 margin: 0 auto;
 width: 90%;
}

header {
 padding: 2rem 0;

 .home & {
	 @include media-query($on-tablet) {
		 padding: 5rem 0 4rem;
	 }
 }

 .resume & {
	 padding-bottom: 0;
	 margin-top: 2rem;
 }

 h1 {
	 margin: 0;
	 line-height: 1.1;
	 // @include font-size(2rem);
	 font-weight: 300;
	 text-transform: uppercase;
 }

 a {
	 color: $clr-base;
	 text-decoration: none;
 }

 span {
	 color: $clr-secondary;

	 &:before {
		 content: "";
		 display: block;
	 }
 }

 nav {
	 margin-top: 1.6em;

	 li {
		 margin-right: 1rem;
		 text-transform: uppercase;
		 font-size: 1rem;

		 a:hover {
			 text-decoration: underline;
		 }
	 }
 }
}

.tag {
 font-size: $font-size-sm;
 color: $clr-secondary;
 margin-bottom: 0;
}

.title {
 // @include font-size(1.6rem);
}

.home {
 background: $clr-primary;

 .btn-container {
	 @include media-query($on-mobile) {
		 margin: 2rem 0;
		 justify-content: start;
	 }
 }
}

.screenshot {
 margin-top: 1rem;
 text-align: center;

 @include media-query($on-desktop) {
	 margin-left: -2rem;
	 margin-right: -2rem;
 }

 &-combo {
	 position: relative;

	 .screenshot-mobile {
		 @include media-query($on-tablet) {
			 position: absolute;
			 bottom: 0;
			 right: -1em;
			 margin: 0;
			 max-width: 30.5%;
		 }
	 }
 }

 &-chrome {
	 @include media-query($on-tablet) {
		 padding-top: 35px;
		 background-color: $clr-light-a;
		 border-radius: 6px 6px 0 0;
		 position: relative;
	 }

	 &:before {
		 @include media-query($on-tablet) {
			 content: "";
			 background:
			 radial-gradient(circle at 7px 50%, #FF6058 5px, transparent 6px),
			 radial-gradient(circle at 25px 50%, #FFBD2E 5px, transparent 6px),
			 radial-gradient(circle at 43px 50%, #29C940 5px, transparent 6px);

			 width: 60px;
			 height: 16px;
			 position: absolute;
			 left: 10px;
			 top: 10px;
		 }
	 }
 }

 &-device {
	 background-color: black;
	 border-radius: 20px;
	 border: 2px solid rgba(255,255,255,.25);
	 position: relative;
	 display: inline-block;
	 vertical-align: top;
	 padding: 3em .4em 3.6em;

	 &:before, &:after {
		 position: absolute;
		 content: "";
		 left: 50%;
		 background-color: rgba(255,255,255,.15);
		 transform: translateX(-50%);
	 }

	 &:before {
		 top: 30px;
		 border-radius: 9px;

		 // @include media-query($on-mobile) {
		 // 	top: 20px;
		 // }
	 }

	 &:after {
		 width: 40px;
		 height: 40px;
		 bottom: 9px;
		 border-radius: 40px;

		 // @include media-query($on-mobile) {
		 // 	width: 22px;
		 // 	height: 22px;
		 // 	bottom: 5px;
		 // }
	 }
 }

 &-mobile {
	 // @include media-query($on-mobile) {
	 // 	margin-left: auto;
	 // 	margin-right: auto;
	 // 	width: 50%;
	 // }

	 &:before {
		 width: 15%;
		 height: 3px;
	 }
 }

 &-tablet {
	 // @include media-query($on-mobile)) {
	 // 	margin-left: 1em;
	 // 	margin-right: 1em;
	 // }

	 &:before {
		 width: 8px;
		 height: 8px;
	 }
 }
}

.work {
 header, footer {
	 background-color: $clr-light;
 }

 header {
	 margin-bottom: 2.5em;
 }

 footer {
	 padding: 4em 0;
	 margin-top: 2em;

   a {
     text-decoration: none;

     &:hover {
       text-decoration: underline;
     }
   }

    img {
      object-fit: cover;
      object-position: 50% 0;
      max-height: 200px;
      width: 100%;
    }
 }
}

.resume {
 main {
	 margin-bottom: 5rem;

	 h4 {
		 font-weight: normal;
		 text-transform: uppercase;
		 color: #999;
		 margin-bottom: 1rem;
	 }

	 h3 {
		 margin-bottom: 0;
	 }

	 address {
		 font-style: normal;
		 margin: 0 0 2em;
	 }

	 em {
			 font-weight: normal;
	 }

	 ul {
		 margin: .4em 0 2.4em;
		 padding-left: .5rem;
	 }

	 li {
		 margin: 0 0 .4em;
		 list-style-type: square;

		 &::marker {
			 content: " - ";
			 margin-right: .5rem;
		 }
	 }
 }
}
